
.landingpage{
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.landing-wrapper{
    display: flex;
    justify-content: center;
}

.officer{
    padding: 20px;
}

.visitor{
    padding: 20px;
}

@media screen and (max-width: 620px) {
    .landing-wrapper{
        display: block;
    }
}